.companyInformation {
  padding: 10px 10px 10px 0px;

  .companyInformationOne {
    color: #a3a49a;
    font-size: 15px;
  }

  .companyInformationTwo {
    color: #a3a49a;
    font-size: 15px;
  }

  .companyInformationThree {
    margin-bottom: 10px;
    color: #a3a49a;
    font-size: 15px;
  }

  .companyInformationFour {
    color: #a3a49a;
  }
}