.main {
  background-color: #fafafa;

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 8px 8px 8px;

    .feeds {
      width: 750px;
      padding-top: 80px;
      padding-bottom: 30px;

      article {
        background-color: white;

        .feedTop {
          display: flex;
          justify-content: space-between;
          position: relative;
          padding: 10px;

          .feedTopOne {
            display: flex;
            align-items: center;

            .profileLogo {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 35px;
              width: 35px;
              margin-right: 10px;
              color: white;
              background-color: black;
              border-radius: 50%;
              font-size: 7px;
              font-weight: bold;
            }

            .profileNameOne {
              margin-bottom: 0px;
              font-size: 15px;
              font-weight: bold;
            }

            .profileNameTwo {
              color: #a3a49a;
              font-size: 12px;
              font-weight: bold;
            }
          }

          .fa-ellipsis-h {
            position: absolute;
            right: 20px;
            top: 20px;
          }
        }

        .feedImg {
          width: 100%;
          height: 500px;
        }

        .feedThree {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          font-size: 25px;

          .fa-heart,
          .fa-comment {
            margin-right: 10px;
          }
        }

        .feedFour {
          display: flex;
          align-items: center;
          padding: 0px 10px 10px 10px;

          .man {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 50%;
          }

          .feedFourWord,
          .feedFourWordTwo {
            font-weight: bold;
          }
        }

        .feedFive {
          padding: 0px 10px 3px 10px;

          .feedFiveWord {
            font-weight: bold;
          }
        }

        .postTime {
          padding: 0px 10px 3px 10px;
          color: #9c9c9c;
        }

        .commentSection {
          position: relative;

          .comment {
            width: 100%;
            padding: 15px 10px;
            border: 1px solid #f3f3f3;
          }

          .postButton {
            position: absolute;
            bottom: 13px;
            right: 20px;
            color: #c5e1fc;
            background-color: white;
            border: 1px solid white;
            font-size: 15px;
          }
        }
      }
    }

    .mainRight {
      width: 400px;
      padding: 20px 0px 100px 20px;

      .sideOne {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .profileLogoTwo {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          width: 60px;
          margin-right: 10px;
          color: white;
          background-color: black;
          border-radius: 50%;
          font-size: 13px;
          font-weight: bold;
        }

        .profileNameThree {
          margin-bottom: 0px;
          font-size: 15px;
          font-weight: bold;
        }

        .profileNameFour {
          color: #a3a49a;
          font-size: 12px;
          font-weight: bold;
        }
      }

      .sideTwo {
        padding: 15px;
        margin-bottom: 10px;
        background-color: white;
        border: 2px solid #ececec;

        .friendStory {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 7px;

          .story {
            color: #a3a49a;
            font-weight: bold;
          }

          .viewAll {
            font-weight: bold;
          }
        }

        .friendStoryNumber {
          height: 150px;
          overflow: scroll;

          .friendStoryOne {
            display: flex;
            margin-bottom: 7px;

            .friendOne {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 40px;
              width: 40px;
              margin-right: 10px;
              color: white;
              background-color: black;
              border-radius: 50%;
              font-size: 13px;
              font-weight: bold;
            }

            .friendNameOne {
              color: black;
              font-size: 15px;
              font-weight: bold;
            }

            .uploadTimeOne {
              color: #a3a49a;
              font-size: 12px;
              font-weight: bold;
            }
          }

          .friendStoryTwo {
            display: flex;
            margin-bottom: 7px;

            .friendTwo {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 40px;
              width: 40px;
              margin-right: 10px;
              color: white;
              background-color: black;
              border-radius: 50%;
              font-size: 13px;
              font-weight: bold;
            }

            .friendNameTwo {
              color: black;
              font-size: 15px;
              font-weight: bold;
            }

            .uploadTimeTwo {
              color: #a3a49a;
              font-size: 12px;
              font-weight: bold;
            }
          }

          .friendStoryThree {
            display: flex;
            margin-bottom: 7px;

            .friendThree {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 40px;
              width: 40px;
              margin-right: 10px;
              color: white;
              background-color: black;
              border-radius: 50%;
              font-size: 13px;
              font-weight: bold;
            }

            .friendNameThree {
              color: black;
              font-size: 15px;
              font-weight: bold;
            }

            .uploadTimeThree {
              color: #a3a49a;
              font-size: 12px;
              font-weight: bold;
            }
          }

          .friendStoryFour {
            display: flex;
            margin-bottom: 7px;

            .friendFour {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 40px;
              width: 40px;
              margin-right: 10px;
              color: white;
              background-color: black;
              border-radius: 50%;
              font-size: 13px;
              font-weight: bold;
            }

            .friendNameFour {
              color: black;
              font-size: 15px;
              font-weight: bold;
            }

            .uploadTimeFour {
              color: #a3a49a;
              font-size: 12px;
              font-weight: bold;
            }
          }
        }

        .friendStoryNumber::-webkit-scrollbar {
          display: none;
        }
      }

      .sideThree {
        padding: 15px;
        background-color: white;
        border: 2px solid #ececec;

        .recommendStory {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 7px;

          .recommend {
            color: #a3a49a;
            font-weight: bold;
          }

          .viewAll {
            font-weight: bold;
          }
        }

        .friendrecommendNumber {
          height: 150px;
          overflow: scroll;

          .friendRecommendOne {
            display: flex;
            margin-bottom: 7px;

            .friendFive {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 40px;
              width: 40px;
              margin-right: 10px;
              color: white;
              background-color: black;
              border-radius: 50%;
              font-size: 13px;
              font-weight: bold;
            }

            .friendNameFive {
              color: black;
              font-size: 15px;
              font-weight: bold;
            }

            .uploadTimeOne {
              color: #a3a49a;
              font-size: 12px;
              font-weight: bold;
            }
          }

          .friendRecommendTwo {
            display: flex;
            margin-bottom: 7px;

            .friendSix {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 40px;
              width: 40px;
              margin-right: 10px;
              color: white;
              background-color: black;
              border-radius: 50%;
              font-size: 13px;
              font-weight: bold;
            }

            .friendNameSix {
              color: black;
              font-size: 15px;
              font-weight: bold;
            }

            .uploadTimeTwo {
              color: #a3a49a;
              font-size: 12px;
              font-weight: bold;
            }
          }

          .friendRecommendThree {
            display: flex;
            margin-bottom: 7px;

            .friendSeven {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 40px;
              width: 40px;
              margin-right: 10px;
              color: white;
              background-color: black;
              border-radius: 50%;
              font-size: 13px;
              font-weight: bold;
            }

            .friendNameSeven {
              color: black;
              font-size: 15px;
              font-weight: bold;
            }

            .uploadTimeThree {
              color: #a3a49a;
              font-size: 12px;
              font-weight: bold;
            }
          }
        }

        .friendrecommendNumber::-webkit-scrollbar {
          display: none;
        }
      }

      .companyInformation {
        padding: 10px 10px 10px 0px;

        .companyInformationOne {
          color: #a3a49a;
          font-size: 15px;
        }

        .companyInformationTwo {
          color: #a3a49a;
          font-size: 15px;
        }

        .companyInformationThree {
          margin-bottom: 10px;
          color: #a3a49a;
          font-size: 15px;
        }

        .companyInformationFour {
          color: #a3a49a;
        }
      }
    }
  }
}
