@import '../../../styles/variables.scss';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .loginForm {
    padding: 50px 50px;
    border: 1px solid #e0e4e7;
    border-radius: 5px;
    text-align: center;

    #logo {
      display: inline-block;
      margin-bottom: 40px;
      font-size: 46px;
      @include logoFont;
    }

    .loginWrapper {
      width: 350px;

      .textField {
        width: 100%;
        border-radius: 5px;
        padding: 15px 10px;
        margin: 5px 0;
        font-size: 14px;
        background-color: #fafafa;
        border: 1px solid #e0e4e7;
      }

      .loginBtn {
        display: inline-block;
        width: 100%;
        padding: 12px 10px;
        margin-top: 10px;
        margin-bottom: 80px;
        font-size: 16px;
        color: white;
        background-color: #0195f3;
        border-radius: 5px;
        border: none;
        opacity: 0.5;
        cursor: 'default';
      }

      .loginBtnLive {
        opacity: 1;
        cursor: 'pointer';
      }
    }
  }

  .links {
    a {
      text-decoration: none;
      color: #3b4e84;
    }
  }
}
